<h1>New Message</h1>

<%= react_component("MessageForm", { roomId: @message.room.id }) %>
<%= turbo_frame_tag "new_message", target: "_top" do %>
  <%= react_component("MessageForm", { roomId: @message.room.id }) %>
<% end %>

<%= link_to 'Back', @message.room %>
